<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='html5reset.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600&family=Playfair+Display:wght@400;600;700;900&display=swap" rel="stylesheet">
    
    <title>Music App Home</title>
</head>
<body>
    <header>
        <nav><a href="/">Home</a></span></nav>
    </header>
<main>
<h1>Welcome to Mariele's Music App!</h1>
    <p>
    Answer the following questions to get song recommendations and then view music videos or open the song in the Spotify web player.
    <form action="/results" method="POST">
    </p>
    <h2>First, pick a genre.</h2>
    <input type="radio" name="genre" value="indie" required>Indie<br/>
    <input type="radio" name="genre" value="pop">Pop<br/>
    <input type="radio" name="genre" value="hip-hop">Hip-hop<br/>
    <input type="radio" name="genre" value="emo">Emo<br/>
    <input type="radio" name="genre" value="rock">Rock<br/>
    <input type="radio" name="genre" value="alternative">Alternative<br/>
    

    <h2>
        What type of results do you want to see?</h2>
        <input type="radio" name="sort" value="popularity" required>Most popular<br/>
        <input type="radio" name="sort" value="obscurity">Most obscure<br/>
        <input type="radio" name="sort" value="speed (slow)">Slow songs</br>   
        <input type="radio" name="sort" value="danceability">I just wanna dance</br>
        <input type="radio" name="sort" value="random">Shuffle it!</br>


   
    </p>
    <input type="submit" value="Get recommendations"/>

    <!-- <p>
        Do you want something more acoustic or electric?<br>
        <input type="checkbox" name="acoustic" value="acoustic">Acoustic<br/>
        <input type="checkbox" name="acoustic" value="electric">Electric<br/>
        <input type="checkbox" name="acoustic" value="neutral">It doesn't matter.<br/>

    </p> -->

</form>
</main>
</body>
</html>