<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <title>HTML Forms Demo</title>
</head>
<body>
<h1>Welcome to Mariele's Music App!</h1>
    <p>
    Answer the following questions to get song recommendations and view music videos.
    <form action="/handle_form" method="POST">
    </p>
    <p>First, pick a genre.</p>
    <input type="radio" name="genre" value="indie">Indie<br/>
    <input type="radio" name="genre" value="pop">Pop<br/>
    <input type="radio" name="genre" value="hip-hop">Hip-hop<br/>
    <input type="radio" name="genre" value="emo">Emo<br/>
    <input type="radio" name="genre" value="rock">Rock<br/>
    <input type="radio" name="genre" value="alternative">Alternative<br/>
    
    <!-- <p>
        On a scale of 1-10, how much do you want to dance?
        <select name="danceability">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>         
        </select>

    </p> -->

    <p>
        Now, pick your tempo.<br/>
        <input type="radio" name="tempo" value="fast" required> fast beats, pls<br/>
        <input type="radio" name="tempo" value="IDK"> I don't care <br/>
        <input type="radio" name="tempo" value="slow"> Slow it down for me</br>   
    </p>
    <input type="submit" value="Submit Form"/>

    <!-- <p>
        Do you want something more acoustic or electric?<br>
        <input type="checkbox" name="acoustic" value="acoustic">Acoustic<br/>
        <input type="checkbox" name="acoustic" value="electric">Electric<br/>
        <input type="checkbox" name="acoustic" value="neutral">It doesn't matter.<br/>

    </p> -->

</form>
</body>
</html>